@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(93, 47, 153);
}

.titulo {
    display: flex;
    flex-flow: column;
    width: 100%;
    text-align: center;
    padding-top: 20%;
    background-image: url(./imagens/backgroundindex.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    height: 600px;
}

.titulo h1 {
    margin-top: 0.5em;
    font-family: 'Rye', cursive;
    color: #000000;
    border: #ff8c00;
    text-shadow: 5px 4px 1px #ff8c00;
    font-size: 60px;
    text-align: center;
}

.titulo h2 {
    font-family: 'Rye', cursive;
    color: black;
    width: 100%;
    font-size: 50px;
}

.container-personagens {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(93, 47, 153);
    background-attachment: fixed;
    padding-bottom: 40px;
}

.container-personagens #titulo-selecione {
    color: #ff8c00;
    font-size: 40px;
    background-color: #000000;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-personagem {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 410px;
    margin-top: 5%;
    background-color: #d8d5ec;
    border-color: #C09D73;
    border-radius: 10px;
}

.personagem-imagem {
    width: 80%;
    height: 80%;
}

.box-personagem p {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin-top: 1em;
    font-size: 20px;
}

.box-personagem:hover {
    transform: scale(1.1, 1.1);
}